<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Datele senzorilor</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <style>
        body.bfcache-reload {
            visibility: hidden;
        }

        body {
            background-image: url("{{ url_for('static', filename='img/sera.jpg') }}");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
        }
    </style>

</head>

<body>

    {% include 'navbar.html' %}

    <div id="sensor-data">
        {% if not active_crop %}
        <p><strong>Nu ai nicio recoltă plantată!</strong></p>
        {% elif sensor_data %}

        <div class="dashboard-container">
            <div class="card temperature-card">
                <span class="card-title">Temperatura</span>
                <span class="card-value" id="temperature">{{ '%.1f' % sensor_data.temperature }} °C</span>
                <a href="/temperature-graph" class="btn-navigate" style="float: right;">Vezi grafic</a>
            </div>

            <div class="card humidity-card">
                <span class="card-title">Umiditate</span>
                <span class="card-value" id="humidity">{{ '%.1f' % sensor_data.humidity }}%</span>
                <a href="/humidity-graph" class="btn-navigate" style="float: right;">Vezi grafic</a>
            </div>

            <div class="card lux-card">
                <span class="card-title">Intensitate Soare</span>
                <span class="card-value" id="lux">{{ sensor_data.light }}</span>
            </div>

            <div class="card water-level-card">
                <span class="card-title">Rezervor Umidificator</span>
                <div class="gauge-wrapper">
                    <div class="gauge">
                        <div class="gauge-fill" id="waterLevelFill"></div>
                        <div class="gauge-cover" id="waterLevel">{{ sensor_data.waterLevel }}%</div>
                    </div>
                </div>
            </div>

            <div class="card water-volume-card">
                <span class="card-title">Volum apa Bazin</span>
                <span class="card-value" id="waterVolume">{{'%.1f' % sensor_data.waterVolume }} L</span>
            </div>

            <div class="card soil-card">
                <span class="card-title">&nbsp;Umiditate sol Parcela 1 🌱&nbsp;</span>
                <span class="card-value" id="soil1">{{ sensor_data.soil1 }}</span>
                <a href="/soil-graph" class="btn-navigate1" style="float: right;">Vezi grafic</a>
            </div>

            <div class="card soil-card">
                <span class="card-title">Umiditate sol Parcela 2 🌱</span>
                <span class="card-value" id="soil2">{{ sensor_data.soil2 }} </span>
                <a href="/soil-graph" class="btn-navigate1" style="float: right;">Vezi grafic</a>
            </div>

            <div class="card soil-card">
                <span class="card-title">Umiditate sol Parcela 3 🌱</span>
                <span class="card-value" id="soil3">{{ sensor_data.soil3 }} </span>
                <a href="/soil-graph" class="btn-navigate1" style="float: right;">Vezi grafic</a>
            </div>

            <div class="card timestamp-card">
                <span class="card-title">Ultima actualizare</span>
                <span class="card-value" id="timestamp">{{ sensor_data.timestamp }}</span>
            </div>
        </div>

        {% else %}
        <p><strong>Nu sunt date de la senzori</strong></p>
        {% endif %}
    </div>

    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
    <script src="{{ url_for('static', filename='js/sensors.js') }}"></script>
</body>

</html>